.App {
  width: 100%;
  height: 100vh;
  background-color: #d7d7d7;
  display: flex;
  flex-wrap: wrap;
}

.Left {
  width: 30%;
  height: 100%;
  background-image: url("./bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 90%;
  height: auto;
  box-sizing: border-box;
  padding: 2rem 1.5rem;
  background: rgb(213, 211, 212);
  background: linear-gradient(
    135deg,
    rgba(213, 211, 212, 1) 0%,
    rgb(240, 152, 202) 50%,
    rgba(148, 213, 233, 1) 100%
  );
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  box-shadow: 0 0 8px 0 rgb(68, 66, 66);
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form > label {
  text-align: center;
  font-family: "Roboto", "SegoeUI";
  font-size: 2rem;
  color: blueviolet;
}

.form > input {
  height: 2.5rem;
  font-size: 1rem;
  box-sizing: border-box;
  padding: 1rem 0.5rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid gray;
}

.form > input:focus {
  border-color: rgb(255, 0, 170);
  outline: none;
}

.form > textarea {
  resize: none;
  height: 8rem;
  font-size: 1rem;
  font-family: "Roboto", "SegoeUI";
  box-sizing: border-box;
  padding: 0.5rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid gray;
}

.form > textarea:focus {
  border-color: rgb(255, 0, 170);
  outline: none;
}

textarea::-webkit-scrollbar {
  width: 12px;
}

textarea::-webkit-scrollbar-track {
  background: blueviolet;
}

textarea::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: 3px solid blueviolet;
}

.form > button {
  height: 2.5rem;
  color: white;
  font-size: 1rem;
  background-color: blueviolet;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}

.form > button:hover {
  background-color: rgb(161, 87, 230);
}

.Right {
  width: 70%;
  height: 100%;
  box-sizing: border-box;
  padding: 2rem;
  background: linear-gradient(
    270deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  overflow: auto;
}

.Right::-webkit-scrollbar {
  width: 12px;
}

.Right::-webkit-scrollbar-track {
  background: blueviolet;
}

.Right::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: 3px solid blueviolet;
}

.searchContainer {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchContainer > input {
  box-sizing: border-box;
  width: 90%;
  height: 3rem;
  padding: 0 10px;
  border: blueviolet solid 1px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.searchContainer > input:focus {
  outline: none;
  border: blueviolet solid 2px;
}

.todoContainer {
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.notfound {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.notfound > img {
  width: 50%;
}
