.container {
  width: 23.5%;
  height: 160px;
  box-sizing: border-box;
  padding: 10px;
  background: rgb(96, 247, 249);
  background: linear-gradient(
    0deg,
    rgba(96, 247, 249, 1) 0%,
    rgba(175, 146, 244, 1) 50%,
    rgb(249, 112, 240) 100%
  );
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px 0 gray;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.menuBox {
  display: flex;
  gap: 7px;
  position: absolute;
  top: -0.75rem;
  right: 10px;
  z-index: 9;
}

.menuBox > p,
.edit {
  margin: 0;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 900;
  color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}

.edit {
  background-color: rgb(84, 84, 225);
}

.edit:hover {
  background-color: rgb(50, 50, 191);
}

.edit > img {
  height: 1rem;
}

.check {
  background-color: rgb(113, 184, 113);
}

.check:hover {
  background-color: rgb(71, 138, 71);
}

.close {
  background-color: rgb(238, 90, 90);
}

.close:hover {
  background-color: rgb(167, 69, 69);
}

.title {
  height: 2rem;
  overflow: hidden;
}

.title > h1 {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  color: white;
}

.content {
  height: 5.9rem;
  overflow: hidden;
}

.content > p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1rem;
}

.detail {
  width: 50%;
  height: 1.5rem;
  background-color: #ee97f9;
  border: solid 2px blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.detail:hover {
  background-color: #ab69b4;
}

.detail > p {
  margin: 0;
  color: white;
  font-size: 0.85rem;
  font-family: "Roboto";
}

.bgBlur {
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.35);
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  cursor: pointer;
}

.modalCard {
  width: 50%;
  max-height: 80vh;
  overflow: auto;
  background-color: white;
  box-sizing: border-box;
  padding: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 10px;
  z-index: 13;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.modalCard::-webkit-scrollbar {
  width: 12px;
}

.modalCard::-webkit-scrollbar-track {
  background: blueviolet;
}

.modalCard::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: 3px solid blueviolet;
}

.editForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.editForm > label {
  text-align: center;
  font-family: "Roboto", "SegoeUI";
  font-size: 2rem;
  color: blueviolet;
}

.editForm > input {
  height: 2.5rem;
  font-size: 1rem;
  box-sizing: border-box;
  padding: 1rem 0.5rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid gray;
}

.editForm > input:focus {
  border-color: rgb(255, 0, 170);
  outline: none;
}

.editForm > textarea {
  resize: none;
  height: 8rem;
  font-size: 1rem;
  font-family: "Roboto", "SegoeUI";
  box-sizing: border-box;
  padding: 0.5rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid gray;
}

.editForm > textarea:focus {
  border-color: rgb(255, 0, 170);
  outline: none;
}

textarea::-webkit-scrollbar {
  width: 12px;
}

textarea::-webkit-scrollbar-track {
  background: blueviolet;
}

textarea::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: 3px solid blueviolet;
}

.btnGroup {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* position: absolute; */
  right: 10px;
  bottom: -30px;
  z-index: 9;
}

.btnGroup > button {
  width: 47.5%;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  height: 2.5rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: white;
  cursor: pointer;
}

.btnCancel {
  background-color: red;
}

.btnCancel:hover {
  background-color: rgb(108, 16, 16);
}

.btnSave {
  background-color: blueviolet;
}

.btnSave:hover {
  background-color: rgb(82, 30, 131);
}
